<!DOCTYPE html>
<html>
<head>
    <title>MySQL DB Encryption Status</title>
</head>
<body>
    <h2>MySQL DB Encryption Status</h2>
    <table id="encryptionTable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Encryption Status</th>
                <th>Compartment ID</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="/static/encryption_status.js"></script>
</body>
</html> 